.border-left-success {
  border-left: .25rem solid #f39c12!important;
}

.pricing8.py-5 {
  height: px;
}

.heading {
}

.panel panel-default panel-table {
}

.text-warning {
  color: #038200!important;
}

.border-left-warning {
  border-left: .25rem solid #038200!important;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.colDados {
  font-size: 27px;
}

#logonav {
  width: 60px;
}

