.login-dark {
  height: 1000px;
  background: linear-gradient(180deg,#19191b 10%,#224abe);
  background-size: cover;
  position: relative;
}

.login-dark form {
  max-width: 450px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 3px;
  transform: translate(-50%, -60%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #b4b4b4;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #0b131e;
  border: none;
  border-radius: 50px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #0f233d;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.form-control:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #bac8f3;
  outline: 0;
  box-shadow: 0 0 0 .1rem rgba(78,115,223,.25);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 1px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check {
  position: relative;
  display: block;
  padding-left: .0rem;
}

.btn.btn-primary.btn-block.text-white.btn-google.btn-user:hover {
  background-color: #e12717;
}

.btn.btn-primary.btn-block.text-white.btn-facebook.btn-user:hover {
  background-color: #30497c;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.75rem;
  margin-left: -.75rem;
}

